
/*https://codepen.io/aaronbarnard/pen/oeWvJo*/
.listing-section, .cart-section {
  width: 100%;
  float: left;
  padding: 1%;
  border-bottom: 0.01em solid #dddbdb;
}

.listing-section .product {
  float: left;
  width: 23%;
     border-radius: 8px;
    margin: 1%;
    overflow: hidden; 
}

.listing-section .product:hover {
  box-shadow: 1.5px 1.5px 2.5px 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1.5px 1.5px 2.5px 3px rgba(0, 0, 0, 0.4);  
  -moz-box-shadow:    1.5px 1.5px 2.5px 3px rgba(0, 0, 0, 0.4);
}

.listing-section .image-box {
  width: 100%;
  overflow: hidden;
  border-radius: 2% 2% 0 0;
}

.listing-section .images {
  height: 15em;
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat;
  border-radius: 2% 2% 0 0;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
}

.listing-section .images:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  overflow: hidden;
  border-radius: 2%;
}
.listing-section .text-box {
  width: 100%;
  float: left;
  border: 0.01em solid #dddbdb;
  border-radius: 0 0 2% 2%;
  padding: 1em;
}

.listing-section h2,.listing-section h3 {
  
  font-weight: 400;
  font-size: 1em;
  text-transform: uppercase;
  margin: 0.2em auto;
}

.listing-section.item,.listing-section .price {
  clear: left;
  width: 100%;
  text-align: center;
  font-size:20px;
}

.listing-section .price {
  color: Grey;
}

.listing-section .description,.listing-section label,.listing-section button,.listing-section input {
  float: left;
  clear: left;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-align: center;
  margin: 0.2em auto;
}

.listing-section input:focus {
  outline-color: #fdf;
}

.listing-section label {
  width: 60%;
}

.listing-section .text-box input {
  width: 15%;
  clear: none;
}

.listing-section .text-box button {
  margin-top: 1em;
}

.listing-section button {
  padding: 6%;
  background-color: #dfd;
  border: none;
      border-radius: 16px;
}

.listing-section button:hover {
  bottom: 0.1em;
}

.listing-section button:focus {
  outline: 0;
}

.listing-section button:active {
  bottom: 0;
  background-color: #fdf;
}

.listing-section .table-heading,.listing-section  .table-content {
  width: 75%;
  margin: 1% 12.25%;
  float: left;
  background-color: #dfd;
}

.listing-section .table-heading h2 {
  padding: 1%;
  margin: 0;
  text-align: center;
}

.listing-section .cart-product {
  width: 50%;
  float: left;
}

.listing-section .cart-price {
  width: 15%;
  float: left;
}

.listing-section .cart-quantity {
  width: 10%;
  float: left;
}

.listing-section .cart-total {
  width: 25%;
  float: left;
}

.listing-section .cart-image-box {
  width: 20%;
  overflow: hidden;
  border-radius: 2%;
  float: left;
  margin: 1%;
}

.listing-section .cart-images {
  height: 7em;
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat;
}

.listing-section .cart-item {
  width: 20%;
  float: left;
  margin: 3.2em 1%;
  text-align: center;
}
.listing-section .cart-description {
  width: 53%;
  float: left;
  margin: 3.2em 1%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-align: center;
}

.listing-section .cart-price h3,.listing-section  .cart-total h3 {
  margin: 3.2em 5% 3.2em 20%;
  width: 60%;
}

.listing-section .cart-quantity input {
  margin: 3.2em 1%;
  border: none;
}

.listing-section .remove {
  width: 10%;
  margin: 1px;
  float: right;
  clear: right;
}

.listing-section .coupon {
  width: 20%;
  background-color: #dfd;
  margin: 1% 1% 1% 12.25%;
  float: left;
  height: 6em;
}

.listing-section .coupon input {
  width: 60%;
  border: none;
  margin: 12.75% 5%;
  padding: 1%;
}

.listing-section .coupon button {
  width: 25%;
  float: left;
  clear: right;
  margin: 12% 5% 12% 0;
}

.listing-section .keep-shopping {
  width: 15%;
  height: 6em;
  float: left;
  margin: 1% auto;
  padding: 1%;
  background-color: #dfd;
}

.listing-section .keep-shopping button {
  text-transform: uppercase;
  margin: 12% auto;
  
}

.listing-section .checkout {
  width: 37.25%;
  margin: 1% 12.75% 1% 1%;
  float: right;
  background-color: #dfd;
  height: 6em;
}

.listing-section .checkout button {
  width: 30%;
  clear: none;
  margin: 5.4% 0 5.4% 5.5%;
  text-transform: uppercase;
}

.listing-section .final-cart-total {
  width: 15%;
  float: right;
  margin: 7%;
  background-color: White;
}

.listing-section .final-cart-total h3 {
  color: Black;
}

@media (max-width: 1023px) {
  .listing-section .product{
    width: 48%;
  }
  .listing-section .images {
    height: 155px;
  }
  .listing-section .text-box input {
    width: 40px; 
  }
}


/* IMAGES */
#image-1 {background-image: url("https://sc01.alicdn.com/kf/UT8.CaXX2NXXXagOFbXC/fresh-navel-oranges.jpg");}

#image-2 {background-image: url("https://newenglandapples.files.wordpress.com/2014/10/img_5595.jpg")}

#image-3 {background-image: url("https://sc01.alicdn.com/kf/UT8ovSIXQNaXXagOFbXt/Fresh-Passion-Fruit-with-Best-Price-and.jpg")}

#image-4 {background-image: url("https://www.foodmatters.com/media/images/articles/16-powerful-reasons-to-eat-pineapple.jpg")}

#image-5 {background-image: url("https://membrillo.com.au/wp-content/uploads/2016/11/bg-mango-01.jpg")}

#image-6 {background-image: url("https://ell.h-cdn.co/assets/16/27/980x490/landscape-1467750721-gettyimages-146896572.jpg")}

#image-7 {background-image: url("https://www.hesca.org/wp-content/uploads/2016/08/banana.jpg")}

#image-8 {background-image: url("https://www.baag.com.au/pictures/produce/plums2.jpg")}

#image-9 {background-image: url("https://ecowatchroar-img.rbl.ms/simage/https%3A%2F%2Fassets.rbl.ms%2F9458277%2F1200x600.jpg/2000%2C2000/J9vl96eLQCOEy3Xy/img.jpg")}

#image-10 {background-image: url("https://www.parhlo.com/wp-content/uploads/2016/04/Valencia_market_-_lemons-1940x1454.jpg")}