.btnGrp .wpcf7-submit{
    display: block;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 14px;
    padding: 10px 25px;

}
.contacBox .btnGrp .btn{
    padding: 0;
}
div.wpcf7 .btnGrp .ajax-loader{
    display: none;
}