.listMedia{ display: flex;flex-wrap: wrap; width:100%; margin:10px 0;}
.innerListMedia{ padding:10px; display:inline-block}
.mediaItem{  width: 50%; margin-bottom:10px}
.mediaBody h2{ font-size:1.1em; font-weight:bold; margin:10px 0 ;}
.mediaLeft{ float:left; max-width:38%;display:inline-block; margin-right:2% }
.mediaLeft img{ max-width:100%;}
.mediaBody{ float:left; width:60%}
.shortView{ text-align:justify; width: 98%; float:left; margin:5px 0;}
.dateTime { font-size:0.85em; color:#bbb}
.mediaBody h2 a{ text-decoration:none; color:#333}
.mediaBody h2{ margin:0}
.innerMedia{ padding:5px; overflow:hidden}
.mediaItem .detailView{ width:100%; float:left; margin-top:15px; color:red; text-decoration:underline; font-style:italic}
.listMedia .viewMore{ font-weight:bold; color:red; font-weight:bold; margin-bottom:15px; padding-left:15px; float:left}
 /*Detail news*/
.detailNews{ width:100%; float:left; padding:0 10px;}
.innerDetailNews{ padding:0}
.innerDetailNews img{ max-width:85%;}
.detailNews h1{ font-size:1.8em; margin:5px 0px;font-family: 'MyriadPro-BoldCond'; margin-top:0; margin-bottom:15px;}
.function{ width:100%; float:left; border-bottom:solid 1px #ccc; border-top:solid 1px #ccc; padding:5px 0;}
.shareBox{ float:left; margin-left:0px; margin-top:10px;}
.toolbarBox{ float:right; margin-right:0px; margin-top:10px}
.toolbarBox a{margin-left:10px;}
.toolbarBox .glyphicon{ margin-right:5px}
.otherNews{ width:100%; float:left; margin-top:10px;}
.otherNews h3{ font-size:1.1em; border-bottom:solid 1px #ccc; padding-bottom:3px; margin-bottom:5px}
.otherNews ul {  list-style-image:url(../images/li_f.png); margin:0; padding:0; margin-left:15px}
.otherNews ul li a{ text-decoration:none}
.otherNews ul li{}
 
.mediaS,.itemMediaS{ width:100%; float:left}
.itemMediaS{ border-bottom: dashed 1px #fff}
.innerItemMediaS{ padding:5px; overflow:hidden}
.photoMediaS{ width:30%; float:left}
.itemMediaS h2{ margin:0}
.photoMediaS img{ padding:3px; border:solid 1px #fff}
.desMediaS{ width:65%; float:right}
.desMediaS h2{ font-size:12px;}
.desMediaS h2 a{ color:#000}
 
 
@media screen and (max-width: 768px) {
	.mediaItem{ width:100%}
}
@media screen and (max-width: 480px){
	.mediaLeft{ max-width:100%; margin:0}
	.mediaBody{ width:100%}
}