.BBTOnlineTooltip {
	Z-INDEX: 100;
	BORDER-BOTTOM: #C0C0C0 1px solid;
	POSITION: absolute;
	TEXT-ALIGN: left;
FILTER: progid:DXImageTransform.Microsoft.Shadow(color=gray, direction=135);
	BORDER-LEFT: #C0C0C0 1px solid;
	PADDING-BOTTOM: 2px;
	BACKGROUND-COLOR: #ffffff;
	PADDING-LEFT: 2px;
	WIDTH: 300px;
	PADDING-RIGHT: 2px;
	VISIBILITY: hidden;
	BORDER-TOP: #C0C0C0 1px solid;
	BORDER-RIGHT: #C0C0C0 1px solid;
	PADDING-TOP: 2px
}
.toolTipTitle {
	FONT-FAMILY: Arial;
	COLOR: #000000;
	FONT-SIZE: 13px;
	FONT-WEIGHT: bold
}
.toolTipHeader {
	TEXT-ALIGN: right;
	WIDTH: 100%;
	FONT-FAMILY: Arial;
	COLOR: #000000;
	FONT-SIZE: 13px;
	FONT-WEIGHT: bold
}
.toolTipBody {
	TEXT-ALIGN: left;
	FONT-FAMILY: Arial, Sans-Serif;
	COLOR: #000;
	FONT-SIZE: 12px;
	FONT-WEIGHT: normal
}
.LargeTime1 {
	FONT-FAMILY: Tahoma;
	COLOR: #838383;
	FONT-SIZE: 10px
}
div.headerTooltip {
background-color: #FFFB30;
background-position: center top;
background-repeat: repeat-x;
color: #0000F0;
font-size: 14px;
font-weight: bold;
padding: 10px 0 10px 15px;
text-align: left;
}
div.orderTooltip 
{
    text-align:center;
background-position: 280px center;
background-repeat: no-repeat;
border-bottom: 2px solid #CCCCCC;
border-top: 1px solid #EEEEEE;
color: #FFCC00;
font-size: 9pt;
font-weight: bold;
padding: 5px 3px 5px 10px;
}
div.orderTooltip img
{
    width:270px;
    height:300px
}
div.contentTooltip 
{
    text-align:justify;
    width:95%;
    margin:10px;
    color: #000000;
    font-size: 10pt;

}